.table-icon.typical-icon.style-scope.yta-video-snapshot {
  display: none;
}
.metric-trend.narrow.metric-table-cell.style-scope.ytcd-channel-facts-item.style-scope.ytcd-channel-facts-item{
    display: none;
}
#\ -row{
    display: none;
}
#\ metrics-table-title{
    display: none;
}
#metrics-table-title{
    display: none;
}
.divider.style-scope.ytcd-entity-snapshot-item {
    margin-top: 7%;
}